@font-face {
  font-family: 'Josefins';
  src: url('../resources/JosefinSans-SemiBold.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#registro-container {
  font-family: 'Josefins',serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#registro-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background: rgb(109,142,170);
background: linear-gradient(36deg, rgba(109,142,170,1) 50%, rgba(33,3,221,1) 100%);
  justify-content: center;
  border-radius: 10%;
}

#formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

#registro-formulario h1 {
  margin-bottom: 33px;
  text-align: center;
  color: white;
}

#registro-formulario input[type="text"],
#registro-formulario input[type="email"],
#registro-formulario input[type="password"],

.campo-texto{
  margin-bottom: 20px;
}

.campo-texto,.submit-button,.login-button {
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  box-sizing: border-box;
}

#registro-formulario div {
  margin-bottom: 20px;
}

#registro-formulario div label {
  margin-right: 10px;
}

.submit-button {
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  background-color: #6B695C;
  color: white;
  font-size: medium;
}

.submit-button:hover {
  background-color: #8a8778;
}

.error-message{
  color: rgb(148, 0, 0);
}

#enlace{
  text-decoration: none;
  color: #ffb236;
}

#enlace:hover{
  color: #f19706;
}

/*-------------------------------------------------------------------------------------------------------------*/

/* Estilos para el contenedor principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Josefins',serif;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background: rgb(109,142,170);
  background: linear-gradient(36deg, rgba(109,142,170,1) 50%, rgba(33,3,221,1) 100%);
  justify-content: center;
  border-radius: 10%;
}

#formulario-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

/* Estilos para el título */
.login-title {
  font-size: 33px;
  margin-bottom: 33px;
  color: white;
}

.form-group{
  margin-bottom: 16px;
}

.login-button{
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: medium;
}

.login-button:hover{
  background-color: #023e7e;
}

.form-group input{
  width: 300px;
}

.back-button {
  text-align: left;
  margin-right: 100%;
  background-color: red;
  color: white;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* Ajusta el margen según sea necesario */
}

/*---------------------------------------------------------------------------------------------------*/

#admin{
  background-color: #808080; /* Gris medio como color base */
  background-image: linear-gradient(135deg, #808080, #1E4879);  
  min-height: 100vh; /* Esto asegura que cubra al menos toda la altura de la ventana */
  height: 100%; /* Asegura que ocupe el 100% de la altura de la pantalla */
  width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
  margin: 0; /* Elimina cualquier margen que pueda tener */
  padding-top: 50px; /* Agrega espacio superior para el título */
  box-sizing: border-box;
}

#admin-container{
  margin: 0 20%;
}

#admin-tit{
  font-family: 'Josefins', serif;
  text-align: center;
  color: white;
}

.horizontal-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.horizontal-menu button {
  margin-right: 10px; /* Ajusta el espaciado entre los botones según tus preferencias */
  color: #000000;
  border: 2px solid #086281;
  padding: 14px 30px;
  display: inline-block;
  font-family: "Josefins", serif;
  font-size: 17px;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #086281;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.horizontal-menu button:hover{
  box-shadow: inset 0 100px 0 0 #086281;
  color: white;
}

#cerrarsesion{
  margin-left: auto;  
  color: #000000;
  border: 2px solid red;
  padding: 14px 30px;
  display: inline-block;
  font-family: "Josefins", serif;
  font-size: 17px;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 red;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

#cerrarsesion:hover{
  box-shadow: inset 0 100px 0 0 red;
  color: white;
}

.admin, .barber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.admin-content,.barber-content, .cliente-content {
  background-color: white; /* Solo para mayor claridad visual */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 600px;
  width: 100%;
  overflow-y: auto;
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.admin-content h3, .barber-content h3, .cliente-content h3{
  text-align: center;
  font-family: 'Josefins', serif;
}

.admin-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Josefins', serif;
}

.admin-content th, .admin-content td {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin-content th {
  background-color: #f2f2f2;
  text-align: left;
}

.admin-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-content tr:hover {
  background-color: #ddd;
}

.admin-content th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #086281;
  color: white;
}

/* Estilos para Eliminar Usuario */
.admin-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
  margin:0 17%;
}

.admin-content form div {
  margin-bottom: 15px;
  width: 100%;
  margin-top: 18%;
}

.admin-content form label {
  font-family: 'Josefins', serif;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.admin-content form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.admin-content form button[type="submit"] {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Josefins', serif;
}

.admin-content form button[type="submit"]:hover {
  background-color: rgb(141, 0, 0);
}

/*------------------------------------------------------------------------------------------------------------------------------*/

#barber{
  background-color: #808080; /* Gris medio como color base */
  background-image: linear-gradient(135deg, #808080, #57ce57c7);  
  min-height: 100vh; /* Esto asegura que cubra al menos toda la altura de la ventana */
  height: 100%; /* Asegura que ocupe el 100% de la altura de la pantalla */
  width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
  margin: 0; /* Elimina cualquier margen que pueda tener */
  padding-top: 50px; /* Agrega espacio superior para el título */
  box-sizing: border-box;
}

#barber-container{
  margin: 0 20%;
}

#barber-tit{
  font-family: 'Josefins', serif;
  text-align: center;
  color: white;
}

#barber-container li{
  list-style-type: none;
  line-height: 30px;
}

#citas-barbero{
  border: 3px solid blue;
}

.barber-content{
  font-family: 'Josefins',serif;
}

.barber-content h3{
  color: #585a59;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

#cliente{
  background-color: #808080; /* Gris medio como color base */
  background-image: linear-gradient(135deg, #808080, #ceb857c7);  
  min-height: 100vh; /* Esto asegura que cubra al menos toda la altura de la ventana */
  height: 100%; /* Asegura que ocupe el 100% de la altura de la pantalla */
  width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
  margin: 0; /* Elimina cualquier margen que pueda tener */
  padding-top: 50px; /* Agrega espacio superior para el título */
  box-sizing: border-box;
}

#cliente-container{
  margin: 0 20%;
}

#cliente-tit{
  font-family: 'Josefins', serif;
  text-align: center;
  color: white;
}

.star {
  font-size: 2em;
  cursor: pointer;
  color: gray;
}

.star.selected {
  color: rgb(224, 224, 107);
}

.cliente-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Josefins', serif;
}

.cliente-content th, .cliente-content td {
  border: 1px solid #ddd;
  padding: 8px;
}

.cliente-content th {
  background-color: #f2f2f2;
  text-align: left;
}

.cliente-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cliente-content tr:hover {
  background-color: #ddd;
}

.cliente-content th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #086281;
  color: white;
}