@font-face {
  font-family: 'Josefins';
  src: url('../resources/JosefinSans-SemiBold.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#registro-container {
  font-family: 'Josefins',serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#registro-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background: rgb(109,142,170);
  background: linear-gradient(36deg, rgba(109,142,170,1) 50%, rgba(33,3,221,1) 100%);
  justify-content: center;
  border-radius: 10%;
}

#formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

#registro-formulario h1 {
  margin-bottom: 33px;
  text-align: center;
  color: white;
}

#registro-formulario input[type="text"],
#registro-formulario input[type="email"],
#registro-formulario input[type="password"],

.campo-texto{
  margin-bottom: 20px;
}

.campo-texto,.submit-button {
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  box-sizing: border-box;
}

#registro-formulario div {
  margin-bottom: 20px;
}

#registro-formulario div label {
  margin-right: 10px;
}

.submit-button {
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  background-color: #6B695C;
  color: white;
  font-size: medium;
}

.submit-button:hover {
  background-color: #8a8778;
}

.error-message{
  color: rgb(148, 0, 0);
}

#enlace{
  text-decoration: none;
  color: #ffb236;
}

#enlace:hover{
  color: #f19706;
}

@media screen and (max-width:580px) {
  #registro-formulario{
    height: 450px;
    width: 450px;
  }

  #formulario h1{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .campo-texto,.submit-button {
    width: 300px;
    height: 40px;
  }
}

@media screen and (max-width:500px) {
  #registro-formulario{
    width: 84vw;
    height: auto;
  }

  #formulario h1{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width:400px){
  .campo-texto,.submit-button {
    width: 70vw;
    height: 33px;
    border-radius: 5px;
  }

  .submit-button{
    padding-bottom: 8vw;
    font-size: 4.6vw;
  }

  #registro-formulario p{
    font-size: 4vw;
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/* Estilos para el contenedor principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Josefins',serif;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background: rgb(109,142,170);
  background: linear-gradient(36deg, rgba(109,142,170,1) 50%, rgba(33,3,221,1) 100%);
  justify-content: center;
  border-radius: 10%;
}

#formulario-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

/* Estilos para el título */
.login-title {
  font-size: 33px;
  margin-bottom: 33px;
  color: white;
}


.login-button{
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: medium;
}

.login-button:hover{
  background-color: #023e7e;
}

.campo-login{
  width: 300px;
}

.login-button, .campo-login{
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  box-sizing: border-box;
}


@media screen and (max-width: 580px) {
  .login-form {
    width: 70vw;
    max-width: 420px;
    max-height: 50vh;
  }

  .login-title {
    font-size: 6vw;
    margin-bottom: 3.5vw;
  }

  .login-button,
  .campo-login{
    max-width: 50vw;
    padding: 8px;
  }

  #formulario-login p{
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 480px) {
  .login-form {
    max-height: 40vh;
  }

  .login-button,
  .campo-login {
    max-width: 50vw;
    padding: 6px;
    font-size: 3.3vw;
  }
}

@media screen and (max-width:350px) {
  .login-form{
    height: 36vh;
  }
}

/*---------------------------------------------------------------------------------------------------*/

#admin{
  background-color: #808080; /* Gris medio como color base */
  background-image: linear-gradient(135deg, #808080, #1E4879);  
  min-height: 100vh; /* Esto asegura que cubra al menos toda la altura de la ventana */
  height: 100%; /* Asegura que ocupe el 100% de la altura de la pantalla */
  width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
  margin: 0; /* Elimina cualquier margen que pueda tener */
  padding-top: 50px; /* Agrega espacio superior para el título */
  box-sizing: border-box;
}

#admin-container{
  margin: 0 20%;
}

#admin-tit{
  font-family: 'Josefins', serif;
  text-align: center;
  color: white;
}

.horizontal-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.horizontal-menu button {
  margin-right: 10px; /* Ajusta el espaciado entre los botones según tus preferencias */
  color: #000000;
  border: 2px solid #086281;
  padding: 14px 30px;
  display: inline-block;
  font-family: "Josefins", serif;
  font-size: 17px;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #086281;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.horizontal-menu button:hover{
  box-shadow: inset 0 100px 0 0 #086281;
  color: white;
}

#cerrarsesion{
  margin-left: auto;  
  color: #000000;
  border: 2px solid red;
  padding: 14px 30px;
  display: inline-block;
  font-family: "Josefins", serif;
  font-size: 17px;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 red;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

#cerrarsesion:hover{
  box-shadow: inset 0 100px 0 0 red;
  color: white;
}

.admin, .barber, .cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.admin-content,.barber-content, .cliente-content {
  background-color: white; /* Solo para mayor claridad visual */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 600px;
  width: 100%;
  overflow-y: auto;
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.admin-content h3, .barber-content h3, .cliente-content h3{
  text-align: center;
  font-family: 'Josefins', serif;
}

.admin-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Josefins', serif;
}

.admin-content th, .admin-content td {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin-content th {
  background-color: #f2f2f2;
  text-align: left;
}

.admin-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-content tr:hover {
  background-color: #ddd;
}

.admin-content th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #086281;
  color: white;
}

/* Estilos para Eliminar Usuario */
#eliminar-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
  margin:0 17%;
}

#eliminar-admin div {
  margin-bottom: 15px;
  width: 100%;
  margin-top: 18%;
}

#eliminar-admin label {
  font-family: 'Josefins', serif;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

#eliminar-admin input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

#eliminar-admin button[type="submit"] {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Josefins', serif;
}

#eliminar-admin button[type="submit"]:hover {
  background-color: rgb(141, 0, 0);
}

.hamburger-menu {
  display: none; /* Muestra el menú hamburguesa */
  text-align: center; /* Centra horizontalmente el contenido */
  margin: 20px auto;
}

.buttons {
  display: none; /* Inicialmente oculto */
}

@media screen and (max-width:1500px) {
  #admin-container{
    margin: 0 10%;
  }
}

@media screen and (max-width: 1100px) {
  .horizontal-menu {
    display: none; /* Oculta el menú horizontal */
  }

  .hamburger-menu {
    display: block;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    margin-top: 20px; /* Muestra el menú hamburguesa */
  }

  .hamburger-menu .buttons #cerrarsesion {
    margin-left: 0; /* Eliminar el margen izquierdo en el menú hamburguesa */
    width: 200px; /* Ajustar el ancho según sea necesario */
  }

  .hamburger-menu-icon {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 24px;
    margin-right: 20px;
  }

  .hamburger-menu-dropdown {
    display: none;
    position: absolute;
    top: 60px; /* Ajusta la posición del menú desplegable según tus necesidades */
    right: 20px; /* Ajusta la posición del menú desplegable según tus necesidades */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .hamburger-menu-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .hamburger-menu-dropdown a:hover {
    background-color: #f1f1f1;
  }

  .hamburger-menu:hover .hamburger-menu-dropdown {
    display: block;
  }

  .buttons {
    display: flex; /* Mostrar los botones debajo del menú hamburguesa cuando el ancho de la pantalla es menor o igual a 1100px */
    flex-direction: column; /* Alinear verticalmente los botones */
    align-items: center; /* Centrar horizontalmente los botones */
  }

  .buttons button {
    width: 200px; /* Ancho fijo para todos los botones */
    margin-bottom: 10px; /* Espaciado entre los botones */
    color: #255881;
    background-color: #9cc9d8;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-family: "Josefins", serif;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttons button:hover {
    background-color: #609db1; /* Cambio de color al pasar el ratón sobre los botones */
  }

  .admin-content{
    height: 500px;
    overflow-x: auto;
  }
}

@media screen and (max-width: 600px) {
  .admin-content{
    height: 400px;
  }
  .admin-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Josefins', serif;
  }

  .admin-content th, .admin-content td {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 12px;
  }

  .admin-content th {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .admin-content tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .admin-content tr:hover {
    background-color: #ddd;
  }
}

@media screen and (max-width:500px) {
  
  #eliminar-admin label {
   font-size: 3.4vw;
  }
  
  #eliminar-admin input[type="email"] {
    padding: 10px;
    margin-bottom: 0;
    font-size: 3.5vw;
  }
  
  #eliminar-admin button[type="submit"] {
    font-size: 3.5vw;
  }
}

@media screen and (max-width:400px){
  .admin-content{
    height: 280px;
  }

  .admin-content h3{
    font-size: 15px;
  }
}


/*------------------------------------------------------------------------------------------------------------------------------*/

#barber{
  background-color: #808080; /* Gris medio como color base */
  background-image: linear-gradient(135deg, #808080, #57ce57c7);  
  min-height: 100vh; /* Esto asegura que cubra al menos toda la altura de la ventana */
  height: 100%; /* Asegura que ocupe el 100% de la altura de la pantalla */
  width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
  margin: 0; /* Elimina cualquier margen que pueda tener */
  padding-top: 50px; /* Agrega espacio superior para el título */
  box-sizing: border-box;
  font-family: 'Josefins', serif;
}

#barber-container{
  margin: 0 20%;
}

#barber-tit{
  text-align: center;
  color: white;
}

#barber-container li{
  list-style-type: none;
  line-height: 30px;
}

#citas-barbero{
  border: 3px solid blue;
}

.barber-content{
  font-family: 'Josefins', serif;
}

.barber-content h3{
  color: #585a59;
}

.barber-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Josefins', serif;
}

.barber-content th, .barber-content td {
  border: 1px solid #ddd;
  padding: 8px;
}

.barber-content th {
  background-color: #f2f2f2;
  text-align: left;
}

.barber-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.barber-content tr:hover {
  background-color: #ddd;
}

.barber-content th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #086281;
  color: white;
}

#actualizar-barbero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

#actualizar-barbero div {
  margin-bottom: 30px; /* Ajusta este valor para aumentar o disminuir el espacio */
}

#actualizar-barbero label {
  font-weight: bold;
}

#actualizar-barbero input {
  font-family: 'Josefins',serif;
  width: 300px;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

#actualizar-barbero button {
  font-family: 'Josefins',serif;
  font-size: 17px;
  width: auto;
  padding: 18px 30px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#actualizar-barbero button:hover {
  background-color: #0056b3;
}

@media screen and (max-width:1500px) {
  #barber-container{
    margin: 0 10%;
  }
}

@media screen and (max-width: 1100px) {
  .barber-content{
    height: 500px;
    overflow-x: auto;
  }
}

@media screen and (max-width: 600px) {
  .barber-content{
    height: 400px;
  }
  .barber-content table {
    width: 100%;
    margin-top: 20px;
  }

  .barber-content th, .barber-content td {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 12px;
  }

  .barber-content th {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .barber-content tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .barber-content tr:hover {
    background-color: #ddd;
  }

  #actualizar-barbero {
    margin-top: 40px;
  }
  
  #actualizar-barbero div {
    margin-bottom: 20px;
  }
  
  #actualizar-barbero input {
    width: 240px;
    padding: 6px;
    margin-top: 3.6px;
  }
  
  #actualizar-barbero button {
    font-size: 3.4vw;
    padding: 15px 27px;
  }
}

@media screen and (max-width:400px){
  .barber-content{
    height: 280px;
  }

  .barber-content h3{
    font-size: 15px;
  }

  #actualizar-barbero {
    margin-top: 20px;
  }

  #actualizar-barbero label{
    font-size: 14px;
  }
  
  #actualizar-barbero div {
    margin-bottom: 14px;
  }
  
  #actualizar-barbero input {
    width: 200px;
    padding: 4px;
    margin-top: 3px;
    font-size: 3.4vw;
  }
  
}


/*--------------------------------------------------------------------------------------------------------------------------------*/

#cliente{
  background-color: #808080; /* Gris medio como color base */
  background-image: linear-gradient(135deg, #808080, #ceb857c7);  
  min-height: 100vh; /* Esto asegura que cubra al menos toda la altura de la ventana */
  height: 100%; /* Asegura que ocupe el 100% de la altura de la pantalla */
  width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
  margin: 0; /* Elimina cualquier margen que pueda tener */
  padding-top: 50px; /* Agrega espacio superior para el título */
  box-sizing: border-box;
}

.cliente-content h3{
  color: #585a59;
}

#cliente-container{
  margin: 0 10%;
}

#cliente-tit{
  font-family: 'Josefins', serif;
  text-align: center;
  color: white;
}

.star {
  font-size: 2em;
  cursor: pointer;
  color: gray;
}

.star.selected {
  color: rgb(224, 224, 107);
}

.cliente-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Josefins', serif;
}

.cliente-content th, .cliente-content td {
  border: 1px solid #ddd;
  padding: 8px;
}

.cliente-content th {
  background-color: #f2f2f2;
  text-align: left;
}

.cliente-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cliente-content tr:hover {
  background-color: #ddd;
}

.cliente-content th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #086281;
  color: white;
}

#actualizar-cliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  font-family: 'Josefins',serif;
}

#actualizar-cliente div {
  margin-bottom: 30px; /* Ajusta este valor para aumentar o disminuir el espacio */
}

#actualizar-cliente label {
  font-weight: bold;
}

#actualizar-cliente input {
  font-family: 'Josefins',serif;
  width: 300px;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

#actualizar-cliente button {
  font-family: 'Josefins',serif;
  font-size: 17px;
  width: auto;
  padding: 18px 30px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#actualizar-cliente button:hover {
  background-color: #0056b3;
}

#valoracion{
  align-items: center;
  text-align: center;
  margin-top: 60px;
  font-family: 'Josefins',serif;
}

#valoracion div {
  margin-bottom: 30px; /* Ajusta este valor para aumentar o disminuir el espacio */
}

.valoracion-usuario{
  margin-bottom: 30px;
}

#valoracion button{
  margin-top: 20px;
}

.review-cliente{
  font-family: 'Josefins',serif;
  width: 200px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#review-enviar{
  background-color: rgb(29, 110, 29);
}

#review-enviar:hover{
  background-color: rgb(18, 70, 18);
}

#review-cancelar{
  background-color: red;
}

#review-cancelar:hover{
  background-color: rgb(172, 0, 0);
}

.cliente-content ul {
  list-style-type: none;
  padding: 0;
}

.cliente-content ul li {
  border: 2px solid #000; /* Borde para las citas */
  background-color: #f0f0f0; /* Color de fondo para las citas */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.cliente-content ul li p {
  margin: 5px 0;
}

.cliente-content ul li button {
  margin-right: 10px;
}

@media screen and (max-width: 1100px) {
  .cliente-content{
    height: 500px;
    overflow-x: auto;
  }
}

@media screen and (max-width: 600px) {
  .cliente-content{
    height: 400px;
  }
  .cliente-content table {
    width: 100%;
    margin-top: 20px;
  }

  .cliente-content th, .cliente-content td {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 12px;
  }

  .cliente-content th {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .cliente-content tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .cliente-content tr:hover {
    background-color: #ddd;
  }

  #actualizar-cliente {
    margin-top: 40px;
  }
  
  #actualizar-cliente div {
    margin-bottom: 20px;
  }
  
  #actualizar-cliente input {
    width: 240px;
    padding: 6px;
    margin-top: 3.6px;
  }
  
  #actualizar-cliente button {
    font-size: 3.4vw;
    padding: 15px 27px;
  }
}

@media screen and (max-width:400px){
  .cliente-content{
    height: 280px;
  }

  .cliente-content h3{
    font-size: 15px;
  }

  #actualizar-cliente {
    margin-top: 20px;
  }

  #actualizar-cliente label{
    font-size: 14px;
  }
  
  #actualizar-cliente div {
    margin-bottom: 14px;
  }
  
  #actualizar-cliente input {
    width: 200px;
    padding: 4px;
    margin-top: 3px;
    font-size: 3.4vw;
  }
  
}